@model string
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greška</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .error-container {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

            .error-container h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

        .back-button {
            width: 100%;
            padding: 12px;
            background-color: #6d4c41;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
        }

            .back-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>@Model</h1>
        <br />
        <a href="/" class="back-button">Nazad</a>
    </div>
</body>
</html>
